<template name="search">
  <form role="form">
    <div class="input-group ui-front">
      <input class="queryinput form-control" placeholder="Search YouTube" value="{{query}}" autocomplete="off">
      <span class="input-group-btn">
        <button id="searchbutton" class="btn btn-primary">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
      </span>
    </div>
  </form>
  <br>
  <div id="search-results">
    {{#if query}}
      {{#each searchResults}}
        {{> song}}
      {{else}}
        <p>Loading...</p>
      {{/each}}
    {{/if}}
  </div>
</template>
