<template name="rooms">
  <div class="sidebar-nav well">
    {{#if _id}}
      <b>Current Room: </b>{{username}}
      <br>
      <br>
      <label for="users-list">Users:</label>
      <ul class="list-unstyled">
        {{#each users}}
          <li><i>{{username}}</i></li>
        {{/each}}
      </ul>
    {{else}}
      <label for="rooms-list">Rooms:</label>
      <div id="rooms-list" class="list-group">
        {{#each rooms}}
          <a href="/rooms/{{_id}}" class="list-group-item">
            {{username}}
            <span class="badge">{{numUsers}}</span>
          </a>
        {{/each}}
      </div>
    {{/if}}
  </div>
</template>
