<template name="song">
  <div class="row song {{#unless addedAt}}pointer{{/unless}}">
    {{#if currentUser}}
      <div class="col-xs-1">
        {{#if favorited}}
          <span class="glyphicon glyphicon-star pointer"></span>
        {{else}}
          <span class="glyphicon glyphicon-star-empty pointer"></span>
        {{/if}}
      </div>
    {{/if}}
    <div class="{{#if currentUser}}col-xs-5{{else}}col-xs-6{{/if}}">
      <div class="thumbnail-container">
        <img src="{{imgUrl}}" class="img-responsive">
        <span class="duration">{{duration}}</span>
      </div>
    </div>
    <div class="col-xs-6">
      {{#if removable}}
        <button type="button" class="close">&times;</button>
      {{/if}}
      <span class="text-medium"><b>{{title}}</b></span>
      <br>
      <span class="text-small">by {{author}}</span>
      {{#if viewCount}}
        <br>
        <span class="text-small">{{viewCount}} views</span>
      {{/if}}
      {{#if adderName}}
        <br>
        <span class="text-small">Added By: <i>{{adderName}}</i></span>
      {{/if}}
    </div>
  </div>
</template>
