<template name="home">
  <div class="col-md-3">
    <div class="sidebar-nav well">
      <label for="rooms-list">Rooms:</label>
      <div id="rooms-list" class="list-group">
        {{#each rooms}}
          <a href="{{pathFor route='room'}}" class="list-group-item">
            {{ownerName}}
            <span class="badge">{{listeners.length}}</span>
          </a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="jumbotron">
      <h1>Welcome to YouTube Jukebox!</h1>
      {{#if currentUser}}
      	<p>Join a room to continue. You will only recieve audio in your own room.</p>
      {{else}}
      	<p>Please sign in to continue.</p>
      {{/if}}
    </div>
  </div>
</template>
