<template name="room">
  <div class="col-md-3">
    <div class="sidebar-nav well">
      <b>Current Room: </b>{{roomOwner}}
      <br>
      <br>
      <label for="users-list">Users:</label>
      <ul class="list-unstyled">
        {{#each users}}
          <li><i>{{profile.name}}</i></li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="col-md-5">
  	{{#if isHost}}
      {{> video}}
    {{/if}}
    {{> queue}}
  </div>
  <div class="col-md-4">
  	{{> sidebar}}
  </div>
</template>
